USE [master]
GO
/****** Object:  Database [Paradigmi]    Script Date: 12/08/2024 19:48:36 ******/
CREATE DATABASE [Paradigmi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Paradigmi', FILENAME = N'E:\Proprietario\Altri programmi\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Paradigmi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Paradigmi_log', FILENAME = N'E:\Proprietario\Altri programmi\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Paradigmi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Paradigmi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Paradigmi]
GO
/****** Object:  User [paradigmi]    Script Date: 12/08/2024 19:48:36 ******/
CREATE USER [paradigmi] FOR LOGIN [paradigmi] WITH DEFAULT_SCHEMA=[paradigmi]
GO
ALTER ROLE [db_owner] ADD MEMBER [paradigmi]
GO
/****** Object:  Schema [paradigmi]    Script Date: 12/08/2024 19:48:36 ******/
CREATE SCHEMA [paradigmi]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 12/08/2024 19:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[numero] [int] IDENTITY(1,1) NOT NULL,
	[emailUtente] [varchar](50) NULL,
	[data] [datetime] NULL,
	[indirizzo] [varchar](50) NULL,
 CONSTRAINT [PK_Ordini] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portate]    Script Date: 12/08/2024 19:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[prezzo] [decimal](5, 2) NULL,
	[tipologia] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortateOrdine]    Script Date: 12/08/2024 19:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortateOrdine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPortata] [int] NOT NULL,
	[numeroOrdine] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 12/08/2024 19:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[email] [varchar](50) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cognome] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[ruolo] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Portate] ON 

INSERT [dbo].[Portate] ([id], [nome], [prezzo], [tipologia]) VALUES (1, N'Spaghetti al pomodoro', CAST(13.00 AS Decimal(5, 2)), 0)
INSERT [dbo].[Portate] ([id], [nome], [prezzo], [tipologia]) VALUES (2, N'Penne al pesto', CAST(14.00 AS Decimal(5, 2)), 0)
INSERT [dbo].[Portate] ([id], [nome], [prezzo], [tipologia]) VALUES (3, N'Tagliata di manzo', CAST(20.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[Portate] OFF
GO
INSERT [dbo].[Utenti] ([email], [nome], [cognome], [password], [ruolo]) VALUES (N'admin@mail.com', N'admin', N'administrator', N'1234', 1)
GO
USE [master]
GO
